@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    
}
img{
    max-width: 100%;
}
.container{
    max-width: 1000px;
    margin: auto;
}
/* header-style */
.header-logo  a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu{
    display: flex;
}
.main-menu li{
    list-style: none;
    margin-right: 25px;
}
.main-menu li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
#nav-toggler{
    display: none;
}
.nav-toogle-bar{
    display: none;
}
/* Banner-style */
.banner {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.banner-text{
    width: 50%;
}
.banner-text h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}
.banner-text span{
    font-size: 45px;
    white-space: nowrap;
    position: relative;
    color: transparent;
}
.banner-text span::before{
    content: 'Influencer';
    position: absolute;
    top: 0;
    left: 0;
    color:deeppink;
    animation: typing 3s linear infinite;
}
@keyframes typing {
    0% {
        content: 'I|';
    }

    6% {
        content: 'In|';
    }
    12% {
        content: 'Inf|';
    }
    18% {
        content: 'Infl|';
    }
    24% {
        content: 'Influ|';
    }
    30% {
        content: 'Influe|';
    }
    36% {
        content: 'Influen|';
    }
    42% {
        content: 'Influenc|';
    }
    48% {
        content: 'Influence|';
    }
    54% {
        content: 'Influencer|';
    }
    60%,80%{
        content: 'Influencer|';
    }
    82%{
        content: 'Influence|';
    }
    84%{
        content: 'Influenc|';
    }
    86%{
        content: 'Influen|';
    }
    88%{
        content: 'Influe|';
    }
    90%{
        content: 'Influ|';
    }
    92%{
        content: 'Infl|';
    }
    94%{
        content: 'Inf|';
    }
    96%{
        content: 'In|';
    }
    98%{
        content: 'I|';
    }
    100%{
        content: '|';
    }

   
}

.banner-text p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7em;
    color: grey;
    margin-top: 0;
    margin-bottom: 20px;
}
.def-button {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: deeppink;
    border: none;
    border-radius: 20px;
}
.banner-img {
    width: 40%;
    margin-left: 85px;
}
/* Brand-logos-style */
.brand-logos {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
hr{
    color: grey;
}
/* product-style */
.album-title h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
.product-img{
    width: 250px;
    height: 225px;
}
.product-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    padding-left: 40px;
}
.box {
    width: 250px;
    border: 1px solid transparent;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 15px 0 rgb(108 122 137 / 60%);
}
.product-info h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 5px 0;
}
.product-info h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}
.ratings{
    display: flex;
    
}
.star-icon {
    font-size: 10px;
    color:orange;
}
.ratings span {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: grey;
}
.product-text p {
    margin: 5px 0;
    font-size: 13px;
    font-weight: 700;
    color: grey;
}
.extra-button {
    text-align: right;
    padding-right: 90px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.extra-button .def-button {
    background-color: white;
    color: deeppink;
    cursor: pointer;
}

/* contact-section-extra */
.contact-section{
    background-color: deeppink;
    text-align: center;
    color: white;
    padding: 20px 0;
    border-radius: 20px;
    margin-bottom: 50px;
}
.contact-section label {
    width: 60px;
    margin-left: -260px;
}

.contact-section input {
    width: 400px;
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    margin-bottom: 15px;
}
.contact-section textarea {
    width: 400px;
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
}
.contact-section button {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: deeppink;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 20px;
}
/* footer-style */

.footer-content{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
}
.footer-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-content p {
    font-size: 12px;
    color: grey;
}
.footer-icon i{
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.308);
    border-radius: 50%;
    line-height: 30px;

}
/* Responsive */
@media (max-width:920px){
    
    .product-box{
        grid-template-columns: repeat(2,1fr);
       

    }
    .box{
        margin: auto;
    }
    .banner{
         flex-direction: column;
       
    }
    .banner-img{
        margin: auto;
        margin-bottom: 50px;
    }
    .banner-text{
        order: 2;
        margin: auto;
        text-align: center;
    }
   
    .contact-section{
        width: 600px;
        margin: auto;
        padding-right: 50px;
    }
    .footer-content{
        width: 650px;
        margin: auto;
        margin-top: 50px;
    }
}
@media (max-width:800px){

        html,
        body {
        overflow-x: hidden;
        max-width: 100%;
        scroll-behavior: smooth;
    }
    .header-logo a h2{
        font-size: 20px;
        margin-left: 20px;
    }
    .nav-toogle-bar{
        display: block;
    }
    .main-menu{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: deeppink;
        padding: 20px 0;
        transform: translateY(-350px);
        transition: .5s ease-in-out;
    }
    .main-menu li{
        margin-bottom: 10px;
    }
    .main-menu li a{
        color: white;
    }
    #nav-toggler:checked ~ .main-menu{
        transform: translateY(0);
    }
    .banner-text h1{
        font-size: 30px;
    }
    .product-box{
        grid-template-columns: 1fr;
      
    }
    .album-title h2{
        text-align: center;
    }
    
    .contact-section{
        width: 350px;
        margin: auto;
        padding-right: 50px;
        text-align: center;
    }
    .contact-section label{
        margin: auto;
    }
    .contact-section input{
        width: 200px;
    }
    .contact-section textarea{
        width: 200px;
    }
        
      
    .footer-content{
        display: grid;
        grid-template-columns: 1fr;
        width: 400px;
        margin: auto;
        margin-top: 50px;
    }
}

    